{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hfexcel - playground</title>
</head>
<body>

{% for message in messages %}
    <h3>{{ message }}</h3>
{% endfor %}

<p><h3>JSON Formatted Text:</h3></p>
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Convert to Excel" />
</form>

<br><br>

<p><a href="https://github.com/ebsaral/hfexcel" target='_blank'><h3>hfexcel (github)</h3></a></p>
<p><a href="https://github.com/ebsaral/hfexcel-web" target='_blank'><h3>hfexcel-web (github)</h3></a></p>
<p><a href="https://gist.github.com/ebsaral/d4408490a3503db700e5e9ac7d7b71d0" target='_blank'><h3>example json (gist)</h3></a></p>
</html>
